<style>

body {  background-color: black;}

h1 {  color: #3399ff;    }
h2 {  color: #3399ff;    }
slide { background-color: #000000;}

ul{ color: #FFF;}
p{ color: #FFF;  font-size: 1.5em;}
footer{ color: #FFF;  font-size: 0.8em;}
a{ color: #339933}
li{ color: #339933}
.title-slide hgroup h1 {color: #FFF;}




</style>

